
body {
    font-family: sans-serif;  /* Alle Schriften ohne Serifen */
    margin: 1em;              /* Aussenabstand */
    font-size: 120%;
}

h1 {
    margin-bottom: 1.5em;
}

.fett {
    font-weight: bold;
}

li {
    margin-bottom: 1em;
}
